---
layout: default
title: Contact
id: contact
permalink: /contact/
---


<div class="tagline" style="background-image: url('../gfx/laptop.jpg'); background-position-y: 70%">
  <div class="container"><div class="row"><div class="col-sm-10 col-sm-offset-1">
    {% capture md %}{% include content/contact-intro.md %}{% endcapture %} {{ md | markdownify }}
  </div></div></div>
  <div class="downArrow"><i class="icon-arrow-down"></i></div>
</div>


<section class="mainSection">

  <div class="container">

    <div class="row">

      <div class="col-md-10 col-xs-12 col-centered">
        <div class="row">

          <!-- Window Pane -->
          <div class="entryPanel col-xs-11 col-centered">

            <div class="row">

              <!-- Left Side of Form -->
              <form class="dataEntry col-xs-12 col-sm-8" action="http://api.ishb.io">
                <div class="row">

                  <div class="col-xs-12 col-sm-6">
                    <input type="text" type="text"  name="name"    tabindex="1" placeholder="Name"/>
                    <i class="icon-name"></i></div>
                  <div class="col-xs-12 col-sm-6">
                    <input type="text" type="email" name="email"   tabindex="2" placeholder="Email"/>
                    <i class="icon-email"></i></div>
                  <div class="col-xs-12 col-sm-6">
                    <input type="text" type="tel"   name="phone"   tabindex="3" placeholder="Phone Number"/>
                    <i class="icon-phone"></i></div>
                  <div class="col-xs-12 col-sm-6">
                    <input type="text" type="url"   name="website" tabindex="4" placeholder="Website"/>
                    <i class="icon-website"></i></div>

                  <div class="col-xs-12">
                    <textarea name="comments" id="" cols="30" rows="10" tabindex="5"></textarea>
                  </div>

                </div>

                <div class="row ">
                  <div class="col-xs-4"> <button class="button lg" tabindex="6">Send</button> </div>
                </div>

              </form>

              <!-- Info Panel (right side) -->
              <div class="inverted infoPanel col-sm-4 hidden-xs" style="position: absolute; top:0; right: 0; bottom: 0;">

                <i class="arrowToButton"></i>

                <div class="row">
                  <div class="col-sm-12">
                    <h3>
                      <i class="icon icon-location"></i> <!-- TODO: get asset -->
                      Our Office
                    </h3>
                    <br/>
                    {% include office-info.html %}
                    <br/>
                    <div class="social-icons">
                    <ul>
                      {% for account in site.data.socialAccounts %}
                      <li><a href="{{ account.link }}" title="{{ account.title }}">
                        <i class="icon icon-{{ account.id }}"></i>
                      </a></li>
                      {% endfor %}
                    </ul>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>


        </div>
      </div>
    </div>


  </div>

</section>

