---
layout: default
title: Home
id: home
permalink: /
---


<div class="tagline roomy">
  <div class="container"><div class="row"><div class="col-sm-10 col-sm-offset-1">
        {% capture md %}{% include content/home-intro.md %}{% endcapture %} {{ md | markdownify }}
        <a href="/contact" class="button lg noShadow">Contact Us</a>
  </div></div></div>
  <div class="downArrow"><i class="icon-arrow-down"></i></div>
</div>




<section class="text-center services">
  <div class="container">

    <!-- In two rows so the images line up -->
    <div class="row hidden-xs">
      <div class="col-sm-4"><img src="/gfx/icn_executive.png" srcset="/gfx/icn_executive@2x.png 2x" /></div>
      <div class="col-sm-4"><img src="/gfx/icn_responsive.png" srcset="/gfx/icn_responsive@2x.png 2x" /></div>
      <div class="col-sm-4"><img src="/gfx/icn_customweb.png" srcset="/gfx/icn_customweb@2x.png 2x" /></div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <img class="visible-xs-inline" src="/gfx/icn_executive.png" srcset="/gfx/icn_executive@2x.png 2x" />
        {% capture md %}{% include content/services-executive-teaser.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/services" class="button quiet">Learn More ></a>
      </div>
      <div class="col-sm-4">
        <img class="visible-xs-inline" src="/gfx/icn_responsive.png" srcset="/gfx/icn_responsive@2x.png 2x" />
        {% capture md %}{% include content/services-executive-teaser.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/services" class="button quiet">Learn More ></a>
      </div>
      <div class="col-sm-4">
        <img class="visible-xs-inline" src="/gfx/icn_customweb.png" srcset="/gfx/icn_customweb@2x.png 2x" />
        {% capture md %}{% include content/services-custom-dev-teaser.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/services" class="button quiet">Learn More ></a>
      </div>
    </div>

  </div>
</section>






{% include section-markdownPrinter.html file='content/home-teaser-testimonials.md' %}



<section class="text-center inverted contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-10  col-sm-offset-1">

        {% capture md %}{% include content/home-teaser-contact.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/contact" class="button lg noShadow">Contact Us</a>

      </div>
    </div>
  </div>
</section>


{% include section-markdownPrinter.html file='content/home-teaser-about.md' %}
{% include section-markdownPrinter.html file='content/home-teaser-teamList.md' %}
