---
layout: default
title: Home
id: home
permalink: /
---


<div class="tagline roomy">
  <div class="container"><div class="row"><div class="col-sm-10 col-sm-offset-1">
        {% capture md %}{% include content/home-intro.md %}{% endcapture %} {{ md | markdownify }}
        <a href="/contact" class="button lg noShadow">Contact Us</a>
  </div></div></div>
  <div class="downArrow"><i class="icon-arrow-down"></i></div>
</div>



{% comment %} -------------------------------------------------------------- Services -- {% endcomment %}
<section class="text-center services">
  <div class="container">

    <h2>Services</h2>

    <!-- In two rows so the images line up -->
    <div class="row hidden-xs">
      <div class="col-sm-4"><img src="/gfx/icn_executive.png" srcset="/gfx/icn_executive@2x.png 2x" /></div>
      <div class="col-sm-4"><img src="/gfx/icn_responsive.png" srcset="/gfx/icn_responsive@2x.png 2x" /></div>
      <div class="col-sm-4"><img src="/gfx/icn_customweb.png" srcset="/gfx/icn_customweb@2x.png 2x" /></div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <img class="visible-xs-inline" src="/gfx/icn_executive.png" srcset="/gfx/icn_executive@2x.png 2x" />
        {% capture md %}{% include content/services-executive-teaser.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/services" class="button quiet">Learn More ></a>
        <hr class="visible-xs" />
      </div>
      <div class="col-sm-4">
        <img class="visible-xs-inline" src="/gfx/icn_responsive.png" srcset="/gfx/icn_responsive@2x.png 2x" />
        {% capture md %}{% include content/services-executive-teaser.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/services" class="button quiet">Learn More ></a>
        <hr class="visible-xs" />
      </div>
      <div class="col-sm-4">
        <img class="visible-xs-inline" src="/gfx/icn_customweb.png" srcset="/gfx/icn_customweb@2x.png 2x" />
        {% capture md %}{% include content/services-custom-dev-teaser.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/services" class="button quiet">Learn More ></a>
      </div>
    </div>

  </div>
</section>



{% comment %} -------------------------------------------------------------- Testimonials -- {% endcomment %}
<section class="text-center testimonials">
  <h2>Success Stories of Our Clients</h2>

  <div class="carosel container">

    <div class="viewport row">
      <ul class="" id="Carosel-Canvas">
        {% for section in site.categories.testimonials %}

          {% assign zeroIdx   = forloop.index | minus: 1 %}
          {% assign position  = zeroIdx | times: 100 %}

          <li class="col-xs-12 col-sm-6">


            <div class="testimonialsSection bubble">
              <h3>
                {{ section.title }}
                <a class="button clear sm" href="{{ section.linkedIn }}">
                  <i class="icon-linkedin"></i>
                </a>
              </h3>
              <h4>{{ section.jobTitle }}</h4>
              <!--<h4>{{ section.service }}</h4>-->
              <p><a class="website" href="{{ section.website }}">{{ section.website }}</a></p>
              <br/>
              {{ section.content }}
              <b class="arrow"></b>
              <i class="avatar" style="background-image:url({{ section.avatarImg }})"></i>
              <!--<img class="avatar" src=""/>-->
            </div>


          </li>

        {% endfor %}
      </ul>
    </div>


    <div class="row">
      <ol class="col-xs-12 pageIndicator" id="Carosel-Indicator"></ol>
    </div>

    <a href="javascript:void(0)" class="pager button lg square quiet left"  id="Carosel-Left" > &lt; </a>
    <a href="javascript:void(0)" class="pager button lg square quiet right" id="Carosel-Right"> &gt; </a>

  </div>
  <script type="text/javascript">
    (function(){
      var carosel = {
        canvas:     document.getElementById("Carosel-Canvas"),
        left:       document.getElementById("Carosel-Left"),
        right:      document.getElementById("Carosel-Right"),
        indicator:  document.getElementById("Carosel-Indicator"),
        page: 0
      };


      // Measure DOM elements to determine how many carosel items fit per "page"
      function getPageCount(){
        var items    = carosel.canvas.children.length;
        var itemSize = carosel.canvas.children[0].offsetWidth / carosel.canvas.offsetWidth;
        var pageCount = Math.ceil(items * itemSize);
        return pageCount
      }

      // The client is required to determine the page indicator count, since there is sometimes 2 per page and it depends on screen size
      function buildPageIndicators(pageCount, currentPage) {
        carosel.indicator.innerHTML = "";
        for (var i=0; i<pageCount; i++) {
          var li = document.createElement("li");
          if (i === currentPage) { li.className = "current" }
          carosel.indicator.appendChild(li)
        }
      }

      // Given a page index, position the carosel and set the page indicator
      var setPage = function(newPage) {
        lastIdx = getPageCount() - 1;
        newPage = newPage < 0 ? lastIdx : newPage; // Limit to by start and end boundaries
        newPage = newPage > lastIdx ? 0 : newPage;
        carosel.canvas.style.transform = "translateX(-"+ newPage * 100 +"%)";
        carosel.page = newPage;
        buildPageIndicators(getPageCount(), newPage);
      };

      carosel.left.addEventListener( "click", function(){ setPage(carosel.page - 1)});
      carosel.right.addEventListener("click", function(){ setPage(carosel.page + 1)});

      setPage(0)

    })();
  </script>



</section>




{% comment %} -------------------------------------------------------------- Contact -- {% endcomment %}
<section class="text-center inverted contact">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {% capture md %}{% include content/home-teaser-contact.md %}{% endcapture %}{{ md | markdownify }}
        <a href="/contact" class="button lg noShadow">Contact Us</a>

      </div>
    </div>
  </div>
</section>



{% comment %} -------------------------------------------------------------- About Us -- {% endcomment %}
<section class="text-center light">
  <h2>About Us</h2>
  {% for section in site.categories.about %}
    {% include section-aboutUs.html %}
  {% endfor %}
</section>




{% comment %} -------------------------------------------------------------- Team -- {% endcomment %}
<section class="text-center team dark">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <h2>The Team</h2>

        <!-- In two rows so the images line up -->
        <div class="row">
          {% for person in site.data.team %}
          <div class="col-sm-6">
            <div class="row">
              <div class="col-xs-12">
                <img src="/gfx/{{person.id}}.jpg" srcset="/gfx/{{person.id}}@2x.jpg 2x" alt="Photo of {{ person.name }}"/>
              </div>
            </div>
            <div class="heading">
              <h3>{{ person.name }}</h3>
              <h4>{{ person.jobTitle }}</h4>
            </div>
            <a class="button clear sm" href="{{ person.linkedIn }}">
              <i class="icon-linkedin"></i>
            </a>
            <p>
              {{ person.about }}
            </p>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>
