---
layout: default
title: Services
id: services
permalink: /services/
---


<div class="tagline" style="background-image: url('../gfx/skyline2.jpg'); background-position-y: 60%">
  <div class="container"><div class="row"><div class="col-sm-10 col-sm-offset-1">
    {% capture md %}{% include content/services-intro.md %}{% endcapture %} {{ md | markdownify }}
  </div></div></div>
  <div class="downArrow"><i class="icon-arrow-down"></i></div>
</div>


<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-centered">

        <div class="row"><div class="col-xs-5 col-centered">
          <img src="/gfx/executive.png">
        </div></div>

        {% capture md %}{% include content/services-executive.md %}{% endcapture %} {{ md | markdownify }}

        <a href="/testimonials" class="button quiet">Testimonials</a>
        <a href="/contact" class="button">Contact Us</a>

      </div>
    </div>
  </div>
</section>



<section class="text-center shaded">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-centered">

        <div class="row"><div class="col-xs-5 col-centered">
          <img src="/gfx/hardware.png">
        </div></div>

        {% capture md %}{% include content/services-hardware-and-software.md %}{% endcapture %} {{ md | markdownify }}

        <a href="/testimonials" class="button quiet">Testimonials</a>
        <a href="/contact" class="button">Contact Us</a>

      </div>
    </div>
  </div>
</section>



<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-centered">

        <div class="row"><div class="col-xs-5 col-centered">
          <img src="/gfx/custom-dev.png">
        </div></div>

        {% capture md %}{% include content/services-custom-development.md %}{% endcapture %} {{ md | markdownify }}

        <a href="http://devish.us" class="button quiet square hidden-xs">
          H <i class="icon icon-home"></i> <!-- TODO: get asset -->
        </a>
        <a href="/testimonials" class="button quiet">Testimonials</a>
        <a href="/contact" class="button">Contact Us</a>

      </div>
    </div>
    <div class="row visible-xs">
      <div class="col-sm-10 col-centered">
        <a href="http://devish.us" class="button quiet square">
          H <i class="icon icon-home"></i> <!-- TODO: get asset -->
        </a>
      </div>
    </div>
  </div>
</section>



</div>







