


<div class="carosel container">

  <div class="viewport row">
    <ul class="" id="Carosel-Canvas">
      {% for section in include.array %}
        <li class="col-xs-12 col-sm-6">{% include carosel-item-testimonial.html %}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="row">
    <ol class="col-xs-12 pageIndicator" id="Carosel-Indicator"></ol>
  </div>

  <a href="javascript:void(0)" class="pager button lg square quiet left"  id="Carosel-Left" > &lt; </a>
  <a href="javascript:void(0)" class="pager button lg square quiet right" id="Carosel-Right"> &gt; </a>

</div>



<script type="text/javascript">
  (function(){
    var carosel = {
      canvas:     document.getElementById("Carosel-Canvas"),
      left:       document.getElementById("Carosel-Left"),
      right:      document.getElementById("Carosel-Right"),
      indicator:  document.getElementById("Carosel-Indicator"),
      page: 0
    };


    // Measure DOM elements to determine how many carosel items fit per "page"
    function getPageCount(){
      var items    = carosel.canvas.children.length;
      var itemSize = carosel.canvas.children[0].offsetWidth / carosel.canvas.offsetWidth;
      var pageCount = Math.ceil(items * itemSize);
      return pageCount
    }

    // The client is required to determine the page indicator count, since there is sometimes 2 per page and it depends on screen size
    function buildPageIndicators(pageCount, currentPage) {
      carosel.indicator.innerHTML = "";
      for (var i=0; i<pageCount; i++) {
        var li = document.createElement("li");
        if (i === currentPage) { li.className = "current" }
        carosel.indicator.appendChild(li)
      }
    }

    // Given a page index, position the carosel and set the page indicator
    var setPage = function(newPage) {
      lastIdx = getPageCount() - 1;
      newPage = newPage < 0 ? lastIdx : newPage; // Limit to by start and end boundaries
      newPage = newPage > lastIdx ? 0 : newPage;
      carosel.canvas.style.transform = "translateX(-"+ newPage * 100 +"%)";
      carosel.page = newPage;
      buildPageIndicators(getPageCount(), newPage);
    };

    carosel.left.addEventListener( "click", function(){ setPage(carosel.page - 1)});
    carosel.right.addEventListener("click", function(){ setPage(carosel.page + 1)});

    setPage(0)

  })();
</script>