<div class="testimonialsSection bubble">
  <h3>
    {{ section.title }}
    <a class="button clear sm" href="{{ section.linkedIn }}">
      <i class="icon-linkedin"></i>
    </a>
  </h3>
  <h4>{{ section.jobTitle }}</h4>
  <!--<h4>{{ section.service }}</h4>-->
  <p><a class="website" href="{{ section.website }}">{{ section.website }}</a></p>
  <br/>
  {{ section.content }}
  <b class="arrow"></b>
  <i class="avatar" style="background-image:url({{ section.avatarImg }})"></i>
  <!--<img class="avatar" src=""/>-->
</div>