

<footer>
  <div class="container">

  <div class="row">

    <div class="col-sm-4 col-xs-6">
      <h4>Our Office</h4>
      {% include office-info.html %}
      <br/>
    </div>

    <div class="col-sm-4 col-xs-6">
      <h4>Site Map</h4>
      <ul><li><a href="/">Home</a></li></ul>
      {% include ul-site-pages.html %}
    </div>

    <div class="col-sm-4 col-xs-12 social">
      <h4>Keep Connected</h4>
      <ul>
        {% for account in site.data.socialAccounts %}
          <li><a href="{{ account.link }}">
            <i class="icon icon-{{ account.id }}"></i>
            {{ account.title }}</a></li>
        {% endfor %}
      </ul>

    </div>



  </div>

  </div>


</footer>
