@import '__'



section
  background: white
  padding: 70px 0
  +phone
    padding: 40px 0

section.light
  background: white
section.shaded,
section:nth-of-type(even)
  background: $grayLight


section.inverted
  background: $brandDark
  color: white