@import '__'



section
  background: white
  h1, h2, h3
    margin-bottom: 20px
  padding: 70px 0
  +phone
    padding: 40px 0
    h3
      margin-bottom: 15px


section.dark,
section:nth-of-type(even)
  background: $grayLight
section.light
  background: white

section.inverted
  background: $brandDark
  color: white



.noPadding
  padding: 0 !important

section > section,
section > section:nth-of-type(even)
  background: transparent
section > section
  padding: 50px 0
