@import '__'

header
  position: relative
  z-index: 300
  //background: $brandDark
  height: $headerHeight
  +phone
    height: $headerHeightSmall




header .logo
  font-size: 40px
  color: white
  padding: 0 10px
  line-height: $headerHeight
  +phone
    line-height: $headerHeightSmall

header nav
  position: relative
  float: right
  padding-right: 10px
  margin-top: ($headerHeight/2) - ($navHeight/2)
  +phone
    margin-top: 5px

  ul
    margin: 0
    padding: 0
    font-size: 0

  li
    font-size: 14px
    display: inline-block
    height: $navHeight
    line-height: $navHeight
    margin: 0 10px
    +tabletAndSmaller
      margin: 0
    &:last-child
      margin-right: 0

  a
    display: block
    padding: 0 10px
    text-transform: uppercase
    text-shadow: 1px 1px 0 $shade40

  a, a:visited
    color: white
  a:hover, a:active
    //color: $gray
    text-decoration: none

  // The last link is "contact", so we call more attention to it
  a.promote
    color: $brand
    box-shadow: inset 0 0 0 2px $brand
    border-radius: 4px
    padding: 0 12px
    margin-left: 10px

  a.menu
    display: none

// Customizations for a tap-to-disclose navigation menu
+phone
  header nav ul
    +transitionable()
    opacity: 0
    right: -150px
  header nav.open ul
    opacity: 1
    right: 10px
    //display: block

  header nav a.menu
    display: inline-block
    color: $brand
    &:hover, &:focus
      color: white
    .icon-menu
      font-size: 35px

  header nav ul
    position: absolute
    top: 0
    background: $brandDark
    padding: 5px 10px
    border-radius: 5px
    li
      display: block
    //a
    //  display: inline-block
    a.promote
      box-shadow: none
      padding: 0 10px
      margin-left: 0





// Current page
.aboutPage    header nav a.about,
.testiesPage  header nav a.testies,
.servicesPage header nav a.services
  color: $gray
.contactPage  header nav a.contact
  color: $gray
  box-shadow: inset 0 0 0 2px $gray
  +phone
    box-shadow: none