@import '__'



// The large tagline "well" at the top of most pages
.tagline
  background: $brandDark
  color: white
  text-align: center
  padding: 40px 0

  // Large text
  h1
    margin-bottom: 20px

  // Small text


  // Call to action button
  .button
    margin-top: 40px

  // The arrow at the bottom of the frame
