@import '__'



// The large tagline "well" at the top of most pages
.tagline
  position: relative
  z-index: 200
  background: $brandDark url("../gfx/skyline.jpg") no-repeat center center
  background-position-y: 30%
  background-size: cover
  color: white
  text-align: center
  margin-top:  -($headerHeight)
  padding-bottom: 80px
  padding-top: $headerHeight

  +phone
    padding-bottom: 40px
    padding-top: $headerHeight

  &.roomy
    padding-bottom: 170px
    padding-top: $headerHeight + 60px
    +phone
      padding-bottom: 30px
      padding-top: $headerHeight + 20px

  // A gradient shades down from the top
  &:after
    content: ""
    +absolutelyFull
    z-index: -1
    background: -moz-linear-gradient(top,     rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%)
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%)
    background: linear-gradient(to bottom,    rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%)

  // Large text
  h1
    margin-bottom: 10px

  // All text
  h1, h2, h3, h4, h5, p
    text-shadow: 1px 1px 2px $shade40

  // Call to action button
  .button
    margin-top: 40px
  .button.lg
    min-width: 200px

  // The arrow at the bottom of the frame
  .downArrow
    display: block
    position: absolute
    $size: 35px
    padding-left: 1px // fix off-center icon
    left: 50%
    margin-left: -($size/2)
    bottom: -($size/2)
    width: $size
    height: $size
    border-radius: 50%
    background-color: $brand
    border: 4px solid white
    [class^="icon-"], [class*=" icon-"]
      line-height: $size - 4

    +phone
      $size: 22px
      border-width: 2px
      margin-left: -($size/2)
      padding-left: 0
      bottom: -($size/2)
      width: $size
      height: $size
      [class^="icon-"], [class*=" icon-"]
        font-size: $size - 8
        line-height: $size - 2