@import '__'



// --------------------------- All
body
  color: $dark
  line-height: 1.36 // 19/14
  font-weight: 400
body, p, input, textarea, select,
h1,h2,h3,h4,h5
  font-family: 'Raleway', sans-serif
  font-size: 18px



// --------------------------- Headings
h1,h2,h3,h4,h5
  font-weight: 400
  line-height: 1.2 // 19/14
h1, h1 p
  text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.4)
  color: white
  font-size: 36px
  //font-weight: 600
h2
  color: #333
  font-size: 36px
  //font-weight: 500
h3
  font-size: 22px
  //font-weight: 500
h4
  color: $brand
  font-size: 18px
  font-weight: 700



// --------------------------- Forms
input, select, textarea
  background-color: white
  border: 1px solid #959595
  border-radius: 5px
input, select
  padding: 0 5px
  height: 50px
  +tabletAndSmaller
    height: 35px
    line-height: 35px



// --------------------------- Size overrides for smaller screens
+tablet
  body, p, input, textarea, select, h1,h2,h3,h4,h5
    font-size: 14px
  h1, h1 p
    font-size: 32px
  h2
    font-size: 32px
  h3
    font-size: 18px
  h4
    font-size: 14px

+phone
  body, p, input, textarea, select, h1,h2,h3,h4,h5
    font-size: 14px
  h1, h1 p
    font-size: 19px
  h2
    font-size: 26px
  h3
    font-size: 18px
  h4
    font-size: 14px
