@import '__'



// --------------------------- All
body
  color: $dark
body, p, input, textarea, select,
h1,h2,h3,h4,h5
  font-size: 18px
  font-weight: 400
  //font-family: Raleway
  //line-height: 25px


// --------------------------- Headings
h1,h2,h3,h4,h5
  font-weight: 500

h1
  text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.4)
  color: white
  font-size: 36px
  //font-weight: 600
  //line-height: 38px

h2
  color: #333
  font-size: 36px
  //font-weight: 500
  //line-height: 36px

h3
  font-size: 22px
  //font-weight: 500
  //line-height: 28px

h4
  color: $brand
  font-size: 18px
  font-weight: 700
  //line-height: 25px



// --------------------------- Body Copy
//body, p, input, textarea, select


p
  margin: 0